<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo-WebPack</title>
</head>

<body>

    <section class="container">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>

        <p>
            Mauris quis pretium tortor. Etiam lacinia, massa eget porta feugiat,
            ante ex vulputate ipsum, ac auctor libero sem nec nunc. In
            vestibulum mattis venenatis. Duis eget scelerisque orci. Etiam
            sed arcu tempus, volutpat purus non, vehicula turpis. Morbi
            imperdiet tincidunt libero a faucibus. Integer eget mauris eget
            augue efficitur tincidunt. Aenean eleifend mi sed libero vestibulum,
            in rutrum augue laoreet. Quisque ac scelerisque tellus.
        </p>


    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>