<%- include('includes/head') %>



    <section class="container">
        <h1>
            Título
        </h1>

        <p>
            Mauris quis pretium tortor. Etiam lacinia, massa eget porta feugiat,
            ante ex vulputate ipsum, ac auctor libero sem nec nunc. In
            vestibulum mattis venenatis. Duis eget scelerisque orci. Etiam
            sed arcu tempus, volutpat purus non, vehicula turpis. Morbi
            imperdiet tincidunt libero a faucibus. Integer eget mauris eget
            augue efficitur tincidunt. Aenean eleifend mi sed libero vestibulum,
            in rutrum augue laoreet. Quisque ac scelerisque tellus.
        </p>


    </section>


    <%- include('includes/footer') %>